<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href={{  asset("/images/favicon.ico") }}>
        {% block stylesheets %}
            <link rel="stylesheet" href={{  asset('css/styles.css')  }}>
            <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        {% endblock %}

        {% block javascripts %}
            <script defer src={{  asset('js/index.js') }}></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include "partials/_footer.html.twig" %}
        {% endblock %}
    </body>
</html>
